body {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #EAE7DC;
    margin: 0px auto 10px auto;
    padding: 20px
}
#name {
    font-family:'zefaniregular', Helvetica, sans-serif;
    font-weight: normal; 
    font-size: 300%;
    color: #E85A4F;
    padding: 10px;
    text-align: center;
}

#name_overline {
    font-family: 'zefaniregular';
    position: relative;
    left: -8px;
    top: -250px;
    padding: 10px;
    text-align: center;
    font-size: 300%;
    
    stroke: #01b9e1;
    stroke-width: 0.5px;
    fill: transparent;
    mix-blend-mode: darken;

    -webkit-text-stroke: .5px #01b9e1;
    -webkit-text-fill-color: transparent; 
    
}

@font-face {
    font-family: 'zefaniregular';
    src: url('https://richellespiel.com/fonts/zefani-regular-webfont.eot');
    src: url('https://richellespiel.com/fonts/zefani-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://richellespiel.com/fonts/zefani-regular-webfont.woff2') format('woff2'),
         url('https://richellespiel.com/fonts/zefani-regular-webfont.woff') format('woff'),
         url('https://richellespiel.com/fonts/zefani-regular-webfont.ttf') format('truetype'),
         url('https://richellespiel.com/fonts/zefani-regular-webfont.svg#zefaniregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(92, 91, 91);
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to black on hover */
li a:hover, a.on {
    background: black;
}


.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 8px;
    background-color: black;
    color: white !important;
    text-align: center;
}