* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #B7E3E4;
    color: black;
    display: flex;
    flex-direction: column;
}

header {
    border: thick double #CA054D;
    position: sticky;
    top: 0;
    background-color: #B7E3E4;
    background-color: #9de5e9;
}

#name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #F03F35
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 3px 20%;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    padding: 5px 5px;
}

.typwriter h1 {
    overflow: hidden;
    border-right: .15em solid orange; /* the type writer cursor */
    white-space: nowrap; /* keeps content on a single line */
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

footer {
    flex-shrink: 0;
    /* width: 100%; */
    /* position: absolute; */
    /* bottom: 0; */
    padding: 5px 5px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

footer li {
    display: inline-block;
    /* vertical-align: middle; */
    /* doesn't work because list items are not an in-line element */
}

.richelle-photo {
    width: 250px;
    float: left;
    padding-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
}

main .education {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.473);
    padding: 10px 0px;
    border-radius: 10px;
}

blockquote {
    background: #f03e3546;
    border-radius: 10px;
    font-style: italic;
    padding: 0 5px;
}

/* main li {
    list-style-type: disc;
} */

.ruby-code-samples {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 0 10%;
}

.box, .box-1 {
    background: rgb(43, 43, 43);
    color: white;
    padding: 10px 10px;
}

.ruby-code-samples a {
    text-decoration: none;
    color: rgb(236, 203, 225);
}

.ruby-code-samples .box-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.blog-post {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    background-color: #ee4f33e7;
    padding: 10px 20px;
    border-radius: 30px;
}

.blog-content {
    background-color: #ee4f338f;
    padding: 10px 20px;
    border-radius: 30px;
}

/* will add accordian feature to blog post area some day if I keep it */